<!DOCTYPE html>
<html lang="es">
{{ partial "head.html" . }}
  <body>
  <div class="contenedor">
	{{ partial "header.html" }}
	<div class="lista">
            {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $pag.Pages }}
		<article class="preview">
			<a href="{{ .Permalink }}">
			<h1 class="post-title">{{ .Title }}</h1>
				{{ if .Params.subtitle }}
			<h3 class="post-subtitle">
				{{ .Params.subtitle }}
			</h3>
			{{ end }}  
			</a>
				  <p class="post-meta">
						Publicado el {{ .Date.Format "January 2, 2006" }} | written by {{ .Site.Author.handle }}
				  </p>
				
				  <div class="post-entry">
					<p>{{ .Summary }}</p>
					<a href="{{ .Permalink }}" class="post-read-more">[READ&nbsp;MORE]</a>
				  </div>
		 </article>
		 {{ end }}
          </div>

          {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
            <li class="previous">
              <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; Newer Posts</a>
            </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <li class="next">
              <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Older Posts &rarr;</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
		</div>
	</div>
  </div>
  </body>